[profile.default]
src = "src"
out = "out"
libs = ["lib"]

[rpc_endpoints]
avalanche = "https://api.avax.network/ext/bc/C/rpc"

# See more config options https://github.com/foundry-rs/foundry/tree/master/config